<!-- Update Course Modal -->
<div
  id="updateCourseModal"
  class="modal"
  style="display: none"
  th:fragment="update_form"
>
  <div class="modal-content">
    <!-- Close Button -->
    <span class="close-button" onclick="hideUpdateModal()">&times;</span>
    <h2>Update Course</h2>

    <!-- Form -->
    <form id="updateCourseForm">
      <!-- Course ID -->
      <input type="hidden" id="courseId" name="courseId" />
      <!-- Program Dropdown -->
      <div class="form-group">
        <label for="programId">Select Program:</label>
        <select
          id="programId"
          name="programId"
          required
          onchange="loadCoursesByProgram()"
        >
          <option value="" selected>Select a program</option>
=
          <option
            th:each="program : ${programs}"
            th:value="${program.programId}"
            th:text="${program.programName} + ' (' + ${program.programId} + ')'"
          ></option>
        </select>
      </div>

      <div class="form-group">
        <label for="courseName">Select Course (optional):</label>
        <select id="courseName" name="courseName">
          <option value="">Select a course</option>
        </select>
        <input type="text" id="courseNameInput" style="display: none" />
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="courseDescription">Description:</label>
        <textarea
          id="courseDescription"
          name="courseDescription"
          required
        ></textarea>
      </div>

      <!-- Credits -->
      <div class="form-group">
        <label for="credits">Credits:</label>
        <input type="number" id="credits" name="credits" required />
      </div>

      <!-- Buttons -->
      <button type="submit" onclick="updateFormSubmitted()">
        Update Course
      </button>
    </form>
  </div>
</div>
